/* variables */
:root{
    --color-brand: #03c75a;
    --color-body: #101010;
    --color-caption: #404040;
    --color-divider: #d3d5d7;
    --color-btn-shadow: #f7f7f7;
    --color-footer-bg: #F5F6F7;
    --color-block-bg: #fff;
    --color-news: #3a67ea;
    --border-brand: 1px solid var(--color-brand);
    --border-divider: 1px solid #ebebeb;
    --border-divider2: 1px solid #e2e2e2;
    --border-divider3: 1px solid #cecece;
    --border-divider4: 1px solid #bbbbbb;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
}

html{
    background-color: #FDFDFE;
}

#wrap{
    min-width: 1340px;
    height: 100%;
    position: relative;
}

/* header */

#header{
    margin: 0 auto;
    width: 1280px;
    height: 267px;
}

.header__top-area{
    margin-top: 18px;
    margin-bottom: 12px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-area .top-area__left,
.header__top-area .top-area__right{
    display: flex;
    gap: 10px;
}

.header__top-area .left__btn,
.header__top-area .right__btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__top-area .btn__icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.header__top-area .btn__icon:hover{
    background-color: var(--color-btn-shadow);
}

.header__top-area .btn__icon--short-cut::after{
    content: "";
    display: block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -314px -330px;
    width: 26px;
    height: 26px;
}

.header__top-area .btn__icon--pay::after{
    content: "";
    display: block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -295px -177px;
    width: 32px;
    height: 32px;
}

.header__top-area .btn__icon--talk::after{
    content: "";
    display: block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -365px -81px;
    width: 26px;
    height: 26px;
}

.header__top-area .btn__icon--notifi::after{
    content: "";
    display: block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -365px -27px;
    width: 26px;
    height: 26px;
}

.header__top-area .btn__info{
    display: none;
}

.header__top-area .left__btn:hover .btn__info,
.header__top-area .left__btn:focus .btn__info,
.header__top-area .right__btn:hover .btn__info,
.header__top-area .right__btn:focus .btn__info{
    position: absolute;
    bottom: -46px;
    border-radius: 40px;
    background-color: var(--color-block-bg);
    border: var(--border-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 40px;
    color: var(--color-body);
    z-index: 999;
}

.header__top-area .btn__info::before{
    position: absolute;
    top: -13px;
    content: "";
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -177px -165px;
    transform: rotate(180deg);
    width: 24px;
    height: 14px;
}

.header__top-area .btn__info--short-cut{
    width: 86px;
}

.header__top-area .btn__info--pay{
    width: 100px;
}

.header__top-area .btn__info--talk{
    width: 90px;
}

.header__top-area .btn__info--notifi{
    width: 104px;
}


/* header-search */

.header__main-area{
    position: relative;
    margin-top: 8px;
    margin-bottom: 14px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
}

.search{
    width: 710px;
    height: 100%;
    margin: 0 auto;
    border: var(--border-brand);
    border-radius: 33px;
    background-color: var(--color-block-bg);
    display: flex;
    align-items: center;
}

.search:hover{
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.search__logo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70px;
    height: 100%;
    padding-right: 14px;
    cursor: pointer;
}

.search__form{
    display: flex;
    width: 490px;
    height: 100%;
}

.search__input{
    width: 490px;
    height: 100%;
    padding-left: 20px;
    padding-right: 70px;
    font-size: 20px;
    font-weight: bolder;
}

.search__input:focus{
    outline: none;
}

.search__btns{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 18px;
    cursor: pointer;
}

.search__btn--tool{
    position: relative;
    cursor: pointer;
}

.search__btn--tool::before{
    content: "";
    display: block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    width: 24px;
    height: 14px;
    background-size: 444px 434px;
    background-position: -199px -254px;
}

.search__btn--tool:hover::before{
    background-position: -270px -234px;
}

.search__btn--tool span{
    display: none;
    position: absolute;
    z-index: 999;
    top: 49px;
    left: -14px;
    content: "";
    background-image: url(/images/icon/sp_main.74b52318.png);
    width: 63px;
    height: 33px;
    background-size: 444px 434px;
    background-position: -57px -128px;
}

.search__btn--tool:hover span{
    display: block;
}

.search__btn--list::before{
    content: "";
    display: block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    width: 10px;
    height: 6px;
    background-size: 444px 434px;
    background-position: -102px -272px;
}

.search__btn--list{
    cursor: pointer;
}

.search__btn--submit{
    padding-left: 14px;
    cursor: pointer;
}

.header__banner{
    position: absolute;
    right: 6px;
}

.header__nav{
    width: 670px;
    height: 80px;
    margin: 0 auto;
}

.header__service{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.service__list{
    width: 64px;
    height: 75px;
}

.service__item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.service__item:hover .service__icon::before,
.service__item:hover .service__icon--chzzk{
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.08);
}

.service__item:hover .service__icon--more.service__icon::before{
    filter: brightness(98%);
}
.service__item:hover .service__icon--more::after{
    filter: brightness(60%);
}

.service__icon::before{
    content: "";
    display: block;
    width: 51px;
    height: 51px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 2px rgba(235, 235, 235, 0.1);
    border-radius: 20px;
    background-color: var(--color-block-bg);
}

.service__icon::after{
    position: absolute;
    top: 3px;
    left: 9px;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
}

.service__icon--mail::after{
    background-position: -250px -90px;
}

.service__icon--cafe::after{
    background-position: -250px 0px;
}

.service__icon--blog::after{
    background-position: -201px -98px;
}

.service__icon--shop::after{
    background-position: -90px -209px;
}

.service__icon--news::after{
    background-position: 0px -209px;
}

.service__icon--stock::after{
    background-position: -180px -209px;
}

.service__icon--house::after{
    background-position: -45px -209px;
}

.service__icon--map::after{
    background-position: -201px 0px;
    width: 46px;
    height: 46px;
    border-radius: 16px;
}

.service__icon--webtoon::after{
    background-position: -225px -209px;
}

.service__icon--more::after{
    background-position: -250px -135px;
}

.service__icon--chzzk img{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
}

.service__icon--chzzk{
    position: relative;
    width: 51px;
    height: 51px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 2px rgba(235, 235, 235, 0.1);
    border-radius: 20px;
    background-color: var(--color-block-bg);
}

.service__name{
    padding-top: 10px;
    font-size: 15px;
    color: var(--color-body);
}

/* main */

/* border-radius 8px */

#container{
    margin: 0 auto;
    width: 1280px;
}

#tab__active{
    color: var(--color-body);
}

.main__wrap{
    display: flex;
    justify-content: space-between;
}

.main__left{
    width: 830px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.left__content{
    width: 100%;
    border: var(--border-divider2);
    border-radius: 8px;
    background-color: var(--color-block-bg);
}

.left__content--ad{
    height: 130px;
}

.left__content--ad img{
    width: 100%;
    border-radius: 8px;
}

.left__content--news{
    width: 100%;
    height: 430px;
}

.left__content--news .tab__menu{
    display: flex;
    align-items: center;
    padding: 18px 0;
    margin: 0 20px;
}

.left__content--news .tab__menu button{
    font-size: 17px;
    font-weight: bold;
    color: #7c7c7c;
}

.left__content--news .tab__btn{
    position: relative;
    display: flex;
    align-items: center;
}

.left__content--news button{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.left__content--news button:hover{
    text-decoration: underline;
}

.left__content--news .tab__btn::after{
    content: "/";
    display: inline-block;
    color: var(--color-divider);
    padding: 0px 6px;
}

.left__content--news .tab__btn:last-child::after{
    content: none;
}

.left__content--news .tab__btn-and::after{
    content: "•";
    display: inline-block;
    color: var(--color-divider);
    padding: 0px 0px;
}

.left__content--news .tab__live{
    font-weight: bold;
    background-color: #F4361E;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 10px;
}

.left__content--news .tab__live::before{
    content: "";
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -335px -319px;
    background-repeat: no-repeat;
    width: 14px;
    height: 10px;
    margin-right: 3px;
}

.news__info-pc{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -51px;
    left: 0;
    width: 234px;
    height: 38px;
    background-color: var(--color-block-bg);
    border: var(--border-brand);
    border-radius: 20px;
    font-size: 14px;
    color: var(--color-body);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.news__info-pc::after{
    position: absolute;
    top: 35px;
    left: 29px;
    content: "";
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -177px -165px;
    width: 24px;
    height: 14px;
}

.news__info-mobile{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: -51px;
    left: -90px;
    width: 228px;
    height: 38px;
    background-color: var(--color-block-bg);
    border: var(--border-brand);
    border-radius: 20px;
    font-size: 14px;
    color: var(--color-body);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.news__info-mobile::after{
    position: absolute;
    top: 35px;
    left: 153px;
    content: "";
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -177px -165px;
    width: 24px;
    height: 14px;
}

.tab__btn:hover .news__info-pc,
.tab__btn:hover .news__info-mobile{
    display: flex;
}

.left__content--news .tab__content{
    width: 100%;
    height: 300px;
}

.left__content--news .tab__item{
    display: none;
    height: 100%;
    width: 100%;
}

.left__content--news .tab__item-news{
    display: block;
}

.left__content--news .news__header{
    margin: 0 20px;
    font-size: 15px;
    padding: 0 20px;
    height: 50px;
    background-color: #f5f7f8;
    color: var(--color-body);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__content--news .news__header a:hover{
    text-decoration: underline;
}

.left__content--news .news__header-more::after{
    content: '';
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -123px -272px;
    background-repeat: no-repeat;
    width: 9px;
    height: 6px;
    margin-left: 4px;
    transform: translateY(-3px);
}

.left__content--news .news__header-nav{
    display: flex;
    align-items: center;
}

.left__content--news .news__header-desc{
    display: flex;
    align-items: center;
}

.left__content--news .news__header-desc::before{
    display: inline-block;
    content: '';
    margin-right: 10px;
    margin-left: 11px;
    width: 1px;
    height: 12px;
    background-color: var(--color-divider);
}

.left__content--news .news__header-desc li:first-child a::after{
    cursor: pointer;
    display: inline-block;
    content: '•';
    margin-right: 6px;
    margin-left: 6px;
    scale: 0.8;
    color: var(--color-divider);
    transform: translateY(-2px);
}

.left__content--news .news__header-home{
    display: flex;
    cursor: pointer;
}

.left__content--news .news__header-home li:first-child{
    padding-right: 10px;
}

.left__content--news .news__header-home li:last-child::before{
    cursor: pointer;
    display: inline-block;
    content: '';
    margin-right: 10px;
    width: 1px;
    height: 12px;
    background-color: var(--color-divider);
}

.left__content--news .news__header-home li:last-child{
    font-weight: bold;
}

.left__content--news .news__list{
    margin: 20px;
    background-color: #ebebeb;
    gap: 1px;
    height: 224px;
    display: grid;
    grid-template-columns: repeat(6, 131px);
    grid-template-rows: repeat(4, 1fr);
    border: var(--border-divider);
    border-radius: 4px;
    overflow: hidden;
}

.left__content--news .news__list-item{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left__content--news .news__list-item:hover{
    background-color: var(--color-news);
}

.left__content--news .news__list-item:hover img{
    display: none;
    box-sizing: border-box;
}

.left__content--news .news__list-item:hover span{
    display: inline;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
}

.left__content--news .news__list-item:hover span:hover{
    text-decoration: underline;
    font-weight: bold;
}

.left__content--news .news__list-item:hover span:last-child::before{
    display: inline-block;
    content: '';
    margin-right: 6px;
    width: 1px;
    height: 10px;
    background-color: #ffffff80;
}

.left__content--news .news__list-item img{
    transform: translateY(2px);
    scale: 0.5;
}

.left__content--news .news__list-item span{
    display: none;
}

.left__content--news .news__footer{
    position: relative;
    border-top: var(--border-divider);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__content--news .news__footer-page{
    position: relative;
    display: flex;
}

.left__content--news .news__footer-prev,
.left__content--news .news__footer-next{
    position: relative;
    border: var(--border-divider2);
    background-color: var(--color-block-bg);
    padding: 16px;
    border-radius: 50%;
}

.left__content--news .news__footer-prev:hover,
.left__content--news .news__footer-next:hover{
    box-shadow: 0px 0px 3px 1px var(--color-btn-shadow);
    filter: brightness(97%);
}

.left__content--news .news__footer-prev::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -432px -246px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
    transform: rotate(180deg);
}

.left__content--news .news__footer-next::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -432px -246px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
}

.left__content--news .news__footer-desc{
    font-weight: bold;
    font-size: 14px;
    color: #606060;
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: default;
}

.left__content--news .news__footer-desc:hover{
    text-decoration: none;
}

.left__content--news .news__footer-desc span:first-child{
    color: var(--color-news);
}

.left__content--news .news__footer-desc span:last-child{
    color: #60606080;
    transform: translateX(-5px) translateY(1px);
}

.left__content--news .news__footer-view{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.left__content--news .news__footer-list::before{
    display: block;
    content: '';
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -391px -204px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.left__content--news .news__footer-list:hover::before{
    display: block;
    content: '';
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -391px -183px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.left__content--news .news__footer-thumb::before{
    display: block;
    content: '';
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -197px -299px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.left__content--news .news__footer-thumb:hover::before{
    display: block;
    content: '';
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -176px -299px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.left__content--shop{
    position: relative;
    width: 100%;
    height: 560px;
}

.left__content--shop .tab__menu{
    display: flex;
    align-items: center;
    padding: 18px 0;
    margin: 0 20px;
}

.left__content--shop .tab__menu button{
    font-size: 17px;
    font-weight: bold;
    color: #7c7c7c;
}

.left__content--shop .tab__btn{
    display: flex;
    align-items: center;
}

.left__content--shop button{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.left__content--shop button:hover{
    text-decoration: underline;
}

.left__content--shop .tab__btn::after{
    content: "/";
    display: inline-block;
    color: var(--color-divider);
    padding: 0px 6px;
}

.left__content--shop .tab__btn:last-child::after{
    content: none;
}

.left__content--shop .tab__btn-and::after{
    content: "•";
    display: inline-block;
    color: var(--color-divider);
    padding: 0px 0px;
}

.tab__view{
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #adadad;
}

.tab__view span:first-child{
    color: var(--color-body);
}

.tab__view-prev{
    position: relative;
    padding: 13px;
    border-radius: 4px 0px 0px 4px;
    border: var(--border-divider3);
    margin-left: 8px;
    background-color: var(--color-block-bg);
}

.tab__view-prev::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-left: 2px;
    border-left: 2px solid #80868c;
    border-bottom: 2px solid #80868c;
}

.tab__view-next{
    position: relative;
    padding: 13px;
    border-radius: 0px 4px 4px 0px;
    border: var(--border-divider3);
    transform: translateX(-1px);
    background-color: var(--color-block-bg);
}

.tab__view-next::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 39%;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%) rotate(225deg);
    margin-left: 2px;
    border-left: 2px solid #80868c;
    border-bottom: 2px solid #80868c;
}

.tab__view-prev:hover,
.tab__view-next:hover{
    filter: brightness(0.99);
}

.tab__view-prev:hover::after,
.tab__view-next:hover::after{
    filter: brightness(0.6);
}

.left__content--shop .tab__content{
    width: 100%;
    height: 300px;
}

.left__content--shop .tab__item{
    display: none;
    height: 100%;
    width: 100%;
}

.left__content--shop .tab__item-shop{
    display: block;
}

.left__content--shop .shop__header{
    margin: 0 20px;
    font-size: 15px;
    padding: 0 20px;
    height: 50px;
    background-color: #f5f7f8;
    color: var(--color-body);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__content--shop .shop__header a:hover{
    text-decoration: underline;
}

.left__content--shop .shop__header-more::after{
    content: '';
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -123px -272px;
    background-repeat: no-repeat;
    width: 9px;
    height: 6px;
    margin-left: 4px;
    transform: translateY(-3px);
}

.left__content--shop .shop__header-nav{
    display: flex;
    align-items: center;
}

.left__content--shop .shop__header-desc{
    display: flex;
    align-items: center;
}

.left__content--shop .shop__header-desc li:first-child a::after{
    cursor: pointer;
    display: inline-block;
    content: '•';
    margin-right: 6px;
    margin-left: 6px;
    scale: 0.8;
    color: var(--color-divider);
    transform: translateY(-2px);
}

.left__content--shop .shop__header-desc li:first-child{
    font-weight: bold;
}

.left__content--shop .shop__header-desc li:last-child a{
    display: flex;
    align-items: center;
}

.left__content--shop .shop__header-desc li:last-child img{
    width: 50px;
    margin-right: 8px;
}

.left__content--shop .shop__header-desc li:last-child span{
    color: #9858f5;
    margin-left: 5px;
}

.left__content--shop .shop__footer{
    margin-top: 18px;
    position: relative;
    border-top: var(--border-divider);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__content--shop .shop__footer-page{
    position: relative;
    display: flex;
}

.left__content--shop .shop__footer-prev,
.left__content--shop .shop__footer-next{
    position: relative;
    border: var(--border-divider2);
    background-color: var(--color-block-bg);
    padding: 16px;
    border-radius: 50%;
}

.left__content--shop .shop__footer-prev:hover,
.left__content--shop .shop__footer-next:hover{
    box-shadow: 0px 0px 3px 1px var(--color-btn-shadow);
    filter: brightness(97%);
}

.left__content--shop .shop__footer-prev::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -432px -246px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
    transform: rotate(180deg);
}

.left__content--shop .shop__footer-next::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -432px -246px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
}

.left__content--shop .shop__footer-desc{
    font-weight: bold;
    font-size: 14px;
    color: #606060;
    display: flex;
    align-items: center;
    margin: 0 10px;
    cursor: default;
}

.left__content--shop .shop__footer-desc:hover{
    text-decoration: none;
}

.left__content--shop .shop__footer-desc span:first-child{
    color: #9858f5;
}

.left__content--shop .shop__footer-desc span:last-child{
    color: #60606080;
    transform: translateX(-5px) translateY(1px);
}

.shop__footer-ad{
    position: absolute;
    right: 20px;
    font-size: 13px;
    border-radius: 4px;
    padding: 3px 6px;
    color: #545454;
    border: var(--border-divider2);
}

.shop__list{
    width: 100%;
    height: 376px;
    display: flex;
    padding: 0 20px;
    gap: 20px;
    padding-bottom: 18px;
}

.shop__list-1{
    display: grid;
    width: 248px;
    grid-template-rows: 1.1fr 1fr 2.3fr;
    gap: 12px;
}

.shop__mall{
    background-color: rgba(245,248,251,.6);
    border: var(--border-divider2);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.shop__mall li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__mall a{
    font-size: 13px;
}

.shop__mall-1 a::after{
    content: "•";
    padding-left: 14px;
    color: rgba(0, 0, 0, 0.15);
}

.shop__mall-2 a::after{
    content: "•";
    padding-left: 1px;
    color: rgba(0, 0, 0, 0.15);
}

.shop__mall-3 a::after{
    content: "•";
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.15);
}

.shop__mall a:last-child::after{
    content: "";
    padding-left: 0px;
}

.shop__mall a:hover{
    text-decoration: underline;
}

.shop__mall-gmarket,
.shop__mall-wemakeprice,
.shop__mall-fashionplus{
    font-weight: bold;
}

.shop__menu{
    background-color: rgba(245,248,251,.6);
    border: var(--border-divider2);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.shop__menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop__menu-item:hover .shop__menu--text{
    text-decoration: underline;
}

.shop__menu--img{
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    border: var(--border-divider);
    position: relative;
}

.shop__menu-item--shop .shop__menu--img::after{
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    background-image: url(/images/icon/sp_main.05384be4.png);
    background-size: 159px 137px;
    background-position: -34px 0;
    width: 30px;
    height: 30px;
}

.shop__menu-item--review .shop__menu--img::after{
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    background-image: url(/images/icon/sp_main.05384be4.png);
    background-size: 159px 137px;
    background-position: -68px -34px;
    width: 30px;
    height: 30px;
}

.shop__menu-item--pay .shop__menu--img::after{
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    top: -1px;
    background-image: url(/images/icon/sp_main.05384be4.png);
    background-size: 159px 137px;
    background-position: -34px -34px;
    width: 30px;
    height: 30px;
}

.shop__menu-item--cart .shop__menu--img::after{
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    top: 7px;
    background-image: url(/images/icon/sp_main.05384be4.png);
    background-size: 159px 137px;
    background-position: -19px -121px;
    width: 17px;
    height: 16px;
}

.shop__menu--text{
    padding-top: 6px;
    font-size: 13px;
    color: #404040;
}

.shop__ad-img{
    display: block;
    width: 100%;
    border: var(--border-divider2);
    border-radius: 6px;
    overflow: hidden;
}

.shop__ad-img img{
    height: 146px;
    transition: all 0.2s ease;
}

.shop__ad-img:hover img{
    scale: 1.05;
}

.shop__ad-desc{
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}

.shop__ad-desc:hover,
.shop__ad-img:hover + .shop__ad-desc{
    text-decoration: underline;
}

.shop__list-2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.shop__item{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.shop__item-img{
    display: block;
    width: 98px;
    height: 130px;
    border-radius: 6px;
    border: var(--border-divider2);
    overflow: hidden;
}

.shop__item-img img{
    width: 98px;
    height: 130px;
    transition: all 0.2s ease-in;
}

.shop__item-desc{
    display: block;
    padding-left: 1px;
    padding-top: 7px;
    width: 100%;
    font-size: 13px;
    line-height: 17px;
}

.shop__item-desc:hover{
    text-decoration: underline;
}

.shop__item-desc:hover + .shop__item-img img,
.shop__item-img:hover img{
    transform: scale(1.05);
}

/* left-recomend */

.left__content--recomend{
    position: relative;
    width: 100%;
    height: 1140px;
    margin-bottom:60px;
    overflow: hidden;
}

.left__content--recomend .tab__menu{
    display: flex;
    align-items: center;
    padding: 18px 0;
    margin: 0 20px;
}

.left__content--recomend .tab__btn{
    display: flex;
    align-items: center;
}

.left__content--recomend .tab__btn button{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #7c7c7c;
}

.left__content--recomend .tab__btn button:hover{
    text-decoration: underline;
}

.left__content--recomend .tab__btn::after{
    content: "/";
    display: inline-block;
    color: var(--color-divider);
    padding: 0px 4px;
}

.left__content--recomend .tab__btn:last-child::after{
    content: none;
}

.left__content--recomend .tab__btn-and::after{
    content: "•";
    display: inline-block;
    color: var(--color-divider);
    padding: 0px 0px;
}

.left__content--recomend .recomend__header{
    margin: 0 20px;
    font-size: 15px;
    padding: 0 20px 0 14px;
    height: 50px;
    background-color: #f5f7f8;
    color: var(--color-body);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__content--recomend .recomend__header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left__content--recomend .recomend__header-desc{
    display: flex;
    align-items: center;
    gap: 4px;
}

.recomend__header-desc li{
    cursor: pointer;
    font-size: 15px;
    background-color: var(--color-block-bg);
    padding: 9px 12px;
    border-radius: 20px;
    border: var(--border-divider);
}

.recomend__header-desc li:first-child,
.recomend__header-desc li:nth-child(2){
    border-color: rgba(82,144,255,.4);
}

.recomend__header-desc li:hover{
    background-color: #f1f1f1;
}

.recomend__header-desc li.recomend__header-active{
    font-weight: bold;
    color: white;
    background-color: #5290ff;
}

.left__content--recomend .recomend__header-home{
    display: flex;
    cursor: pointer;
}

.left__content--recomend .recomend__header-home li{
    font-weight: bold;
}

.left__content--recomend .recomend__header-home a:hover{
    text-decoration: underline;
}

.recomend__content-1{
    padding: 16px 20px 0 20px;
    width: 100%;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.recomend__content-1 a{
    display: flex;
    flex-direction: column;
}

.recomend__content-1 .recomend__content--img{
    width: 182px;
    height: 120px;
    overflow: hidden;
    border-radius: 6px;
    border: var(--border-divider3);
    margin-bottom: 9px;
}

.recomend__content-1 .recomend__content--img img{
    transition: all 0.2s ease;
}

.recomend__content-1 a:hover .recomend__content--img img{
    scale: 1.05;
}

.recomend__content-1 .recomend__content--desc{
    font-size: 15px;
    line-height: 20px;
}

.recomend__content-1 a:hover .recomend__content--desc{
    text-decoration: underline;
}

.recomend__content-1 .recomend__content--profile{
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 14px;
    color: var(--color-caption);
}

.recomend__content-1 .recomend__content--profile span:first-child{
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: var(--border-divider);
    border-radius: 50%;
    margin-right: 6px;
    transform: translateY(1px);
}

.recomend__content-1 .recomend__content--profile span:first-child img{
    width: 20px;
}

.recomend__content-1 .recomend__content--img img{
    width: 182px;
}

.recomend__content-2{
    padding: 0 20px;
    margin-top: 16px;
    position: relative;
}

.recomend__content-2 .recomend__content--header{
    border-top: var(--border-divider);
    width: 100%;
    padding-top: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recomend__content-2 .recomend__content--list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 26px;
}

.recomend__content-2 .recomend__content--img{
    width: 109px;
    height: 152px;
    overflow: hidden;
    border-radius: 6px;
    border: var(--border-divider2);
}

.recomend__content-2 .recomend__content--img img{
    width: 109px;
    transition: all 0.2s ease;
}

.recomend__content-2 .recomend__content--desc{
    margin-top: 8px;
    font-size: 15px;
    line-height: 20px;
}

.recomend__content-2 .recomend__content--profile{
    margin-top: 6px;
    font-size: 13.6px;
    color: var(--color-caption);
    margin-bottom: 10px;
}

.recomend__content-2 li:hover .recomend__content--desc{
    text-decoration: underline;
}

.recomend__content-2 li:hover .recomend__content--img img{
    scale: 1.05;
}

.recomend__content-2 .recomend__content--next{
    cursor: pointer;
    position: absolute;
    top: 122px;
    right: 10px;
    width: 34px;
    height: 34px;
    background-color: var(--color-block-bg);
    border: var(--border-divider2);
    border-radius: 50%;
}

.recomend__content-2 .recomend__content--next:hover{
    filter: brightness(0.97);
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.05);
}

.recomend__content-2 .recomend__content--next::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -432px -246px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    margin: auto;
}

.left__content--recomend .recomend__footer{
    cursor: pointer;
    margin-top: 18px;
    position: relative;
    border-top: var(--border-divider);
    width: 100%;
    height: 50px;
    background-color: var(--color-block-bg);
}

.left__content--recomend .recomend__footer-more{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__content--recomend .recomend__footer-more span{
    font-weight: bold;
    font-size: 14px;
    color: var(--color-body);
}

.left__content--recomend .recomend__footer-more span:last-child{
    color: #5290ff;
    scale: 1.5;
    margin-left: 4px;
    transform: translateY(-2px);
}


/* right--------------- */

.main__right{
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right__content{
    width: 100%;
    border: var(--border-divider2);
    border-radius: 8px;
    background-color: var(--color-block-bg);
}

.right__content--login{
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 22px;
}

.login__desc{
    font-size: 15px;
    color: var(--color-body);
}

.login__btn{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    font-size: 15px;
    border-radius: 4px;
    background-color: var(--color-brand);
    color: #fff;
}

.login__btn:hover{
    background-color: #00b853;
}

.login__btn span::before{
    content: "";
    display: inline-block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -50px -165px;
    width: 78px;
    height: 15px;
    margin-right: 7px;
}

.login__more a:hover{
    text-decoration: underline;
}

.login__more ul{
    display: flex;
    font-size: 14px;
    color: var(--color-caption);
}

.login__more li::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: var(--color-divider);
    margin: 0 10px;
}

.login__more li:last-child::after{
    display: none;
}

.right__content--ad{
    width: 100%;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right__content--ad .ad__wrap{
    width: 100%;
    height: 100%;
    padding: 14px;
}

.right__content--ad .ad__title{
    font-size: 19px;
    font-weight: bold;
    position: relative;
    padding-bottom: 14px;
    color: var(--color-body);
    border-bottom: var(--border-divider);
}

.right__content--ad .ad__title span::after{
    position: absolute;
    content: "NEW";
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    top: 0;
    padding-left: 3px;
    color: #E41111;
}

.right__content--ad .ad__main{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 11px 0;
}

.right__content--ad .ad__main img{
    width: 150px;
    height: 100px;
    border-radius: 8px;
    border: var(--border-divider3)
}

.right__content--ad .ad__main p{
    line-height: 24px;
    color: var(--color-caption);
}

.right__content--ad .ad__more{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 9px;
}

.right__content--ad .ad__more button{
    border: var(--border-divider3);
    width: 100%;
    padding: 7px 0;
    border-radius: 8px;
    color: var(--color-body);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.right__content--ad .ad__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.right__content--ad .ad__footer span{
    font-size: 11px;
    color: #6b6b6b;
}

.right__content--ad .ad__footer button{
    background-image: url(/images/icon/base.png);
    width: 42px;
    height: 16px;
    background-size: 100px 90px;
    background-position: 0px -20px;
}

.right__content--weather{
    height: 236px;
    padding: 20px;
}

.weather__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: var(--border-divider);
}

.right__content--weather .title__info{
    cursor: pointer;
}

.right__content--weather .title__name{
    font-weight: bold;
    color: var(--color-body);
}

.right__content--weather .title__name:hover{
    text-decoration: underline;
}

.right__content--weather .title__comparison{
    font-size: 12px;
    color: var(--color-caption);
    border-radius: 20px;
    border: var(--border-divider2);
    padding: 4px 8px;
    background-color: var(--color-block-bg);
}

.right__content--weather .title__comparison::before{
    margin-right: 3px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -432px -117px;
}

.right__content--weather .title__comparison:hover{
    filter: brightness(97%);
}

.right__content--weather .title__comparison:hover.title__comparison::before{
    background-position: -432px -104px;
}

.right__content--weather .title__address{
    font-size: 14px;
    color: #606060;
}

.right__content--stock{
    height: 236px;
    padding: 20px;
}

.stock__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: var(--border-divider);
}

.right__content--stock .title__info{
    cursor: pointer;
}

.right__content--stock .title__name{
    color: var(--color-body);
    font-weight: bold;
}

.right__content--stock .title__name:hover{
    text-decoration: underline;
}

.right__content--stock .title__btn{
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -416px -72px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.right__content--stock .title__time{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #606060;
}

.right__content--stock .title__refresh{
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -344px -384px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.right__content--ad-sm{
    height: 80px;
}

.right__content--ad-sm img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.right__content--widget{
    height: 806px;
    padding: 20px;
    background-color: #F4F6FA;
}

.widget__title{
    font-weight: bold;
    padding-bottom: 20px;
}

.widget__main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 192px 192px 278px;
    gap: 12px;
}

.widget__item{
    position: relative;
    background-color: var(--color-block-bg);
    border-radius: 8px;
    border: var(--border-divider);
}

.widget__item-box{
    display: block;
    height: 192px;
}

.widget__item--cal .widget__item-box{
    padding: 18px;
}

.widget__item--cal .item__title{
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--color-body);
}

.widget__item--cal .item__content{
    color: var(--color-body);
}

.widget__item--cal .item__content--day{
    font-size: 41px;
}

.widget__item--cal .item__content--week{
    font-size: 14px;
}

.widget__item .item__login{
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    color: #606060;
    text-decoration: underline;
}

.widget__item--memo .item__title{
    color: #fff;
    padding: 18px 18px 15px 18px;
    background-color: #00C06E;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.widget__item--memo .item__content1{
    height: 47px;
    border-top: 1px dashed rgba(255, 255, 255, 0.5);
    transform: translateY(-4px);
}

.widget__item--memo .item__content2{
    height: 47px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    transform: translateY(-4px);
}

.widget__item--memo .item__login{
    padding: 0 18px;
}

.widget__item--papago a{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.widget__item--papago .item__title{
    position: absolute;
    left: 20px;
    top: 18px;
    display: block;
    width: 76px;
    height: 17px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -56px -254px;
}

.widget__item--papago .item__content1{
    display: block;
    width: 78px;
    height: 68px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: 0px 0px;
}

.widget__item--papago .item__content2{
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #00a2ff;
    padding: 14px 32px;
    border-radius: 30px;
}

.widget__item--papago:hover .item__content2{
    background-color: #1280E2;
}

.widget__item--eng .item__title{
    font-weight: bold;
    padding: 18px;
}

.widget__item--eng .item__title:hover{
    text-decoration: underline;
}

.widget__item--eng .item__content{
    width: 100%;
    height: 20px;
    border-bottom: var(--border-divider);
    transform: translateY(-18px);
}

.widget__item--eng .item__text::before{
    cursor: pointer;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 55px;
    left: 18px;
    z-index: 999;
    line-height: 23px;
    font-weight: bold;
    font-size: 18px;
    content: "A frog in my throat.";
    display: block;
    color: var(--color-body);
}

.widget__item--eng .item__text:hover::before{
    position: absolute;
    top: 54px;
    left: 18px;
    z-index: 999;
    line-height: 23px;
    font-weight: bold;
    font-size: 16px;
    content: "목이 꽉 잠김.";
    display: block;
    color: #606060;
}

.widget__item--eng .item__btn{
    z-index: 999;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--color-block-bg);
    border: var(--border-divider2);
    cursor: pointer;
}

.widget__item--eng .item__btn::after{
    position: absolute;
    bottom: 8px;
    right: 8px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-position: -300px -359px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
}

.widget__item--eng .item__btn:hover{
    background-color: #031F5F;
    width: 140px;
}

.widget__item--eng .item__btn:hover::before{
    content: "단어 검색하기";
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
}

.widget__item--eng .item__btn:hover::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -275px -359px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
}

.widget__item.widget__item--vibe{
    grid-column: 1 / -1;
}

.widget__item--vibe{
    padding: 14px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget__item--vibe .item__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.widget__item--vibe .item__title--name{
    font-weight: bold;
}

.widget__item--vibe .item__title--name::before{
    content: "";
    display: inline-block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -69px -280px;
    width: 68px;
    height: 18px;
    margin-right: 8px;
    transform: translateY(3px);
}

.widget__item--vibe .item__title--refresh{
    font-size: 14px;
    color: #606060;
    cursor: pointer;
}

.widget__item--vibe .item__title--refresh::after{
    content: "";
    display: inline-block;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-position: -34px -405px;
    background-size: 444px 434px;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    transform: translateY(2px);
}

.widget__item--vibe .item__title--refresh:hover::after{
    background-position: -17px -405px;
}

.widget__item--vibe .item__list{
    display: flex;
    gap: 10px;
}

.widget__item--vibe .item__content{
    position: relative;
    width: 108px;
}

.widget__item--vibe .item__content:hover img{
    position: relative;
    transform: scale(1.1);
}

.widget__item--vibe .item__content--img{
    width: 108px;
    height: 161px;
    border-radius: 8px;
    border: var(--border-divider4);
    overflow: hidden;
}

.widget__item--vibe .item__content--img img{
    width: 108px;
    height: 161px;
    transition: all 0.4s ease;
}

.widget__item--vibe .item__content span{
    position: absolute;
    top: 122px;
    right: 7px;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.5);
}

.widget__item--vibe .item__content span::before{
    position: absolute;
    right: 10px;
    top: 10px;
    content: "";
    display: block;
    width: 7px;
    height: 10px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-position: -125px -405px;
    background-size: 444px 434px;
}

.widget__item--vibe .item__content p{
    margin-top: 6px;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-body);
}

.widget__item--vibe .item__content p:hover{
    text-decoration: underline;
}

.widget__mobile{
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: var(--color-body);
}

.widget__mobile--logo::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-position: -391px -73px;
    background-size: 444px 434px;
    transform: translateY(5px);
    margin-right: 10px;
}

.widget__mobile--logo span{
    font-weight: bold;
}

.widget__mobile .widget__mobile--btn{
    width: 8px;
    height: 12px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-position: -323px -299px;
    background-size: 444px 434px;
    transform: translateY(5px);
    margin-right: 10px;
}

/* --------- */

.right__content--banner{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
}

.banner__box{
    width: 350px;
}

.banner__rolling--wrap{
    display: flex;
    align-items: center;
    gap: 12px;
}

.banner__rolling--img img{
    width: 48px;
    height: 48px;
}

.banner__rolling--desc{
    font-size: 15px;
    line-height: 22px;
    color: var(--color-caption);
}

.banner__rolling--desc p:first-child{
    font-weight: bold;
    color: var(--color-body);
}

.banner__rolling:hover p{
    text-decoration: underline;
}

.banner__indicator{
    display: flex;
    gap: 4px;
}

.indicator__dot{
    width: 6px;
    height: 6px;
    background-color: #cecece;
    border-radius: 30px;
}

.indicator__dot--active{
    background-color: var(--color-brand);
}

/* sticky */

#fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 14px;
}

.fixed__btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--color-block-bg);
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.fixed__btn--top a::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-position: -293px -384px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
}

.fixed__btn--set a::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-position: -208px -384px;
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
}

.fixed__btn:hover{
    background-color: #f7f7f7;
}

.fixed__btn:active{
    background-color: var(--color-brand);
}

.fixed__btn--top:active a::before{
    background-position: -242px -384px;
}

.fixed__btn--set:active a::before{
    background-position: -261px -280px;
}

/* footer */

#footer{
    width: 100%;
    height: 431px;
    background-color: var(--color-footer-bg);
    border-top: var(--border-divider);
}

.footer__wrap{
    margin: 0 auto;
    width: 1280px;
}

.footer__banner-area{
    padding: 32px 0;
    width: 100%;
    border-bottom: var(--border-divider);
    display: flex;
    justify-content: space-between;
}

.fbanner__banner{
    width: 390px;
}

.fbanner__item{
    display: flex;
    gap: 18px;
    align-items: center;
}

.fbanner__item:hover .fbanner__title-main{
    text-decoration: underline;
}

.fbanner__item:hover .fbanner__img img{
    scale: 1.05;
}

.fbanner__img{
    position: relative;
    width: 160px;
    height: 100px;
    overflow: hidden;
    border-radius: 6px;
    border: var(--border-divider);
}

.fbanner__img img{
    transition: 0.4s ease;
    width: 160px;
}

.fbanner__content{
    display: flex;
    flex-direction: column;
}

.fbanner__title-sub{
    padding: 4px 0px 5px 7px;
    color: #fff;
    background-color: #a0adb2;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
.fbanner__banner--first .fbanner__title-sub{
    width: 79px;
}

.fbanner__banner--second .fbanner__title-sub{
    width: 109px;
}

.fbanner__banner--third .fbanner__title-sub{
    width: 122px;
}

.fbanner__title-main{
    font-size: 14px;
    font-weight: bold;
    color: #222122;
    margin-bottom: 10px;
}

.fbanner__desc{
    font-size: 14px;
    color: #545454;
}

.fbanner__desc2{
    font-size: 14px;
    padding-top: 5px;
    color: #545454;
}

.footer__notice-area{
    padding: 22px 0;
    width: 100%;
    border-bottom: var(--border-divider);
    display: flex;
    justify-content: space-between;
}

.footer__notice-area a:hover{
    text-decoration: underline;
}

.fnotice__notice,
.fnotice__service{
    font-size: 14px;
    font-weight: bold;
}

.fnotice__service::after{
    display: inline-block;
    content: "";
    background-image: url(/images/icon/sp_main.74b52318.png);
    background-size: 444px 434px;
    background-position: -323px -223px;
    width: 8px;
    height: 12px;
    margin-left: 4px;
}

.footer__aside-area{
    padding: 24px 0;
    width: 100%;
    border-bottom: var(--border-divider);
    display: flex;
    justify-content: space-between;
}

.footer__aside-area a:hover{
    text-decoration: underline;
}

.faside{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.faside__item{
    display: flex;
    align-items: center;
}

.faside__title{
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    color: var(--color-body);
}

.faside__list{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-caption);
}

.faside__list li::after{
    content: "";
    display: inline-block;
    margin: 0 10px 0 4px;
    width: 1px;
    height: 12px;
    background-color: var(--color-divider);
}

.faside__list li:last-child::after{
    display: none;
}

.fservice{
    display: flex;
    gap: 28px;
}

.fservice__item{
    display: flex;
    align-items: center;
    gap: 11px;
}

.fservice__info{
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 14px;
}

.fservice__title{
    font-weight: bold;
    color: var(--color-body);
}

.fservice__desc{
    color: var(--color-caption);
}

.fservice__logo img{
    width: 48px;
    height: 48px;
}

.footer__corp-area{
    padding-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__corp-area a:hover{
    text-decoration: underline;
}

.fcorp__list{
    display: flex;
    font-size: 14px;
    color: var(--color-caption);
}

.fcorp__list li::after{
    content: "";
    display: inline-block;
    margin: 0 10px 0 6px;
    width: 1px;
    height: 12px;
    background-color: var(--color-divider);
}

.fcorp__list li:last-child::after{
    display: none;
}

.fcorp__bold{
    color: var(--color-body);
    font-weight: bold;
}